{% extends "AppCoder/padre.html" %}
{% load static %}
    

    {% block contenido2 %}
         <h2 class="display-4">Formulario para darse de alta como alumno</h2>
         
        
            {% if miFormulario.errores %}
                    <p>ERROR</p>
                {% endif %}

                <form action="/AppCoder/alumnos" method="POST"> {% csrf_token %}
                    <table>
                        {{ miFormulario.as_table}}
                    </table>
                    <input type="submit" value="Enviar"></input>
                </form> 
           
    {% endblock %}