{% extends "AppCoder/padre.html" %}

{% load static %}
    {% block contenido %}
        
    {% if miFormulario.errores %}
            <p>ERROR</p>
        {% endif %}

        <form action="/AppCoder/profesFormulario" method="POST"> {% csrf_token %}
            <table>
                {{ miFormulario.as_table}}
            </table>
            <input type="submit" value="Enviar"></input>
        </form> 
    {% endblock %}

    {% block contenido2 %}
         <h2 class="display-4">Formulario de Profesores que quieren enseñar en nuestra escuela de Rock</h2>
    {% endblock %}